body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.card {
  width: 250px;
  border: 1px solid rgb(105, 105, 235);
  border-radius: 4px;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

.card__image {
  width: 100%;
  height: auto;
}

.card__body {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.card__heading {
  font-weight: 600;
}

.card__text {
  font-size: 14px;
  font-weight: 300;
}

.card__time {
  align-self: flex-end;
  font-size: 12px;
  font-weight: 500;
}
