body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
